.wrap{
    margin: 60px;
    height: 500px;
}

.block{
    width: 100px;
    height: 100px;
    background: red;
    color: white;
    transform: rotate(45deg);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-name{
    transform: rotate(135deg);
}